html{
	font-family: 'regular';
	color: #fff;
}

*{
	box-sizing: border-box;
}

.wrap {
	max-width: 320px;
	background-color: #44C8F2;
	min-height: 568px;
	position: relative;
	margin: auto;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}
.logo {
	user-select: none;
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
}
.game {
}
.frames {
}

.frame {
	min-height: 568px;
	background-color: #055EB0;
	text-align: center;
	overflow: hidden;
}
.frame-hello {
	min-height: 568px;
	background-image: url('../img/frames/bg2.jpg');
	background-repeat: no-repeat;

	background-color: #055EB0;
}

.frame-hello {
	padding-top: 80px;
	padding-bottom: 37px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.frame-hello__img {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	text-align: center;
}

.title{
	font-family: 'bold';
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
}
.frame-hello__title {
	font-family: 'bold';
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.frame-hello p{
	text-align: center;
	font-size: 18px;
	line-height: 1.4;
	line-height: normal;
	padding: 0 27px;
	margin-bottom: 10px;
}

p{
	text-align: center;
	font-size: 18px;
	line-height: 1.4;
	line-height: normal;
	padding: 0 27px;
}

.button{
	cursor: pointer;
	appearance: none;
	border-radius: 50px;
	border: none;
	color: white;
	line-height: 28px;
	text-transform: uppercase;
	background: linear-gradient(360deg, rgba(176, 1, 85, 0.45) 0%, rgba(255, 255, 255, 0.00) 100%), #EE4998;
	background-blend-mode: multiply, normal;
	box-shadow: 0px 1px 10px 0px rgba(239, 74, 153, 0.60);
	padding: 8px 52px;
	justify-content: center;
	align-items: center;

	font-family: 'bold';
}

.button:hover{
	background: linear-gradient(360deg, rgba(140, 0, 67, 0.60) 0%, rgba(176, 1, 85, 0.15) 100%), #EE4998;
	background-blend-mode: multiply, normal;
	box-shadow: 0px 1px 20px 0px rgba(255, 0, 122, 0.60);
}

.button:active{
	background: linear-gradient(360deg, #8C0043 0%, rgba(176, 1, 85, 0.25) 100%), #EE4998;
	background-blend-mode: multiply, normal;
	box-shadow: 0px 1px 20px 0px rgba(255, 0, 122, 0.60);
}

.frame-hello .button {
	margin-top: 17px;
}




.frame-reg{
	background-image: url('../img/frames/reg/bg.jpg');
	background-repeat: no-repeat;
}
.frame-reg p{
	padding-top: 194px;
	text-align: center;
	margin-bottom: 22px;
}

.frame-reg input{
	max-width: 270px;
	width: 100%;
	border-radius: 18px;
	background: #FFF;
	border: none;
	margin-bottom: 16px;
	outline: none;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;

	color: #055EB0;
	font-family: 'regular';

	padding: 12px 16px;
}

.frame-reg input::placeholder{
	color: #055EB0;
	font-family: 'regular';
}

.frame-reg form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.frame-reg .button{
	max-width: 270px;
	width: 100%;
	align-items: center;
}
.frame-reg{
	
}

.frame-team{
	text-align: center;
	background-image: url('../img/frames/reg/bg.jpg');
	background-repeat: no-repeat;
	padding-bottom: 45px;
}
.frame-team__title{
	padding-top: 89px;
	margin-bottom: 18px;
}
.frame-team p{
	padding: 0 23px;
	margin-bottom: 21px;
}
.frame-team__box{
	border-radius: 15px;
	border: 3px solid #FFF;
	max-width: 282px;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
	padding-bottom: 6px;
}
.frame-team__box span{
	color: #EBD046;
}

.frame-team__box p{
	margin-bottom: 10px;
}
.frame-team .button{
	
}

form span.error {
	color: #EE4998;
	/* margin-top: 4px; */
	margin-bottom: 4px;
}

.frame-game-start {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding-bottom: 30px;
	background-image: url('../img/frames/base-bg.jpg');
}

.frame-game-start::after{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: linear-gradient(180deg, rgba(8, 99, 179, 0.00) 0%, #0862B3 100%);
}

.frame__game-start__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.frame__game-start__bg img{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

.frame-game-start--first .frame__game-start__bg img{
	width: 438px;
	height: 306px;
} 

.frame-game-start--first .frame__game-start__title{

}
.frame__game-start__title {
	margin-bottom: 8px;
	z-index: 1;
}
.frame-game-start p{
	margin-bottom: 16px;
	z-index: 1;
}

.frame-game-start .button {
	z-index: 1;
}
.frame-game-start ul {
	z-index: 1;
	display: flex;
	flex-direction: column;
	text-align: left;
}
.frame-game-start li {
	z-index: 1;
	padding-left: 25px;
	position: relative;
	margin-bottom: 12px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'bold';
}

.frame-game-start li::after{
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	top: -5px;
	bottom: 0;
	margin: auto;
	background-image: url('../img/frames/game-start/bullet.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
}

.frame-game-start--second .frame__game-start__bg img{
	top: -40px;
	width: 410px;
	height: 290px;
} 

.frame-game-start--third .frame__game-start__bg img{
	top: 50px;
	width: 222px;
	height: 215px;
} 

.frame-game-start--final .frame__game-start__bg img{
	top: 50px;
	width: 222px;
	height: 215px;
}

.frame-game-start--final .frame__game-start__title {
	margin-bottom: 18px;
	font-size: 20px;
}
.frame-game-start--rating{
	z-index: 1;
}
.frame-game-start--rating::after{
	display: none;
}
.frame-game-start--rating .frame__game-start__title {
	font-size: 28px;
}
.frame-game-start--rating .frame__game-start__bg img{
	z-index: 1;
}

.frame-game-start--rating .button {
	max-width: 255px;
	width: 100%;
}

.frame-game-start--win{
	
}
.frame-game-start--win .frame__game-start__title{
	font-size: 20px;
	margin-bottom: 10px;
}
.frame-game-start--win .frame__game-start__title.frame__game-start__title--big{
	font-size: 38px; 
}
.frame-game-start--win .frame__game-start__title span{
	color: #08B375;
}
.frame__game-start-img{
	z-index: 1;
}
.frame-game-start--win .frame__game-start__bg{
	top: -250px;

}
.frame-game-start--win{

}

.frame--table{

}

.rates{

}

.rates__inner{
	
}

.rates__title{

}

.rates__th{

}